{% extends 'base/index.html'%}
{% load static %}

{% block header %}
<header class="header" id="inicioo">
    <div > <a href="#"><button  class="ingresar" >Ingresar Ahora</button></a></div>
    <h1 class="slogan"> <span style="color:black">B.S Patrick</span></h1>
    <nav class="menu_navegacion ">
        <img src="{% static 'img/logo.png' %}" alt="" class="logo">
        <a href="#">Inicio</a>
        <a href="#">Ayuda</a>
        <a href="#">Puntos de atenciòn</a>
        <a href="#">Salir</a>    
    </nav>

    <div >
        <h1 class="tittle">Banco Saint Patrick</h1>
        <p class="header-text">Realiza pagos, transferencias, consultas y gestiona productos Banco Saint Patrick desde tu computador de una manera fácil y segura las 24 horas.</p>
    </div>
    
    
</header>

{% endblock %}